<div class="cover mb-4 d-flex align-items-center justify-content-center text-white" style="background-image: url('your-image-url.jpg'); background-size: cover; height: 300px;">
  <div class="text-center">
    <h1 class="display-4 font-weight-bold">Save any kind of movies</h1>
    <h3 class="typed-js" data-controller="typed-js"></h3>
  </div>
</div>

<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-4">
    <h3 class="mb-0">My Lists</h3>
    <%= link_to "Create a movie list", new_list_path, class: "btn btn-primary btn-sm" %>
  </div>

  <div class="row">
    <% @lists.each do |list| %>
      <div class="col-12 col-sm-6 col-md-4 mb-4">
        <div class="card shadow-sm border-light">
          <div class="card-body">
            <%= link_to list_path(list), class: "text-decoration-none" do %>
              <h5 class="card-title text-center"><%= list.name %></h5>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
